<h2>{{hero.name}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div>
  <label>name:

    <input [(ngModel)]="hero.name" placeholder="name" >
  </label>
</div>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let item of myarray" (click)="onSelect(item)">{{ item.name }}</li>
</ul>
<div *ngIf="selectedHero" >
  <input value="{{ selectedHero.name }}">

</div>
